* {
    outline: solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

body {
    margin: 0 auto;
    width: 1000px;
    background-color: darkgrey;
    margin: 25px 0px 25px 0px;
}

main {
    background-color: lightblue;
}

ul li {
    display: inline-block;
    padding: 10px;
    background-color: seashell;
    width: fit-content;
}

h1 {
    background-color: skyblue;
    color: black;
    font-size: 40px;
    text-shadow:2px 2px ivory;
}
nav {
    background-color: lightgray;
    height: 60px;
}
.hank-style {
    color: black
}
#school-style {
    border: 1px solid rgb(113, 160, 199);
}
#footer-style {
    padding: 5px;
    background-color: seashell;
    text-align: center;
}